/* Apply border-box when using normalize.css */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* CSS coding */

h1 {
  color: purple;
  font-family: serif;
  margin-bottom: 10px;
}

#page-title {
  font-family: Arial, Helvetica, sans-serif;
    /* we declare several fonts, so if the computer doesn't have a font we used the next one */
}

.title {
  font-size: 18px;
  font-family: monospace;
    /* we can't see the font in the browser because #page-title (id) is more important than .title (class) */
}

#main-nav {
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
}

#main-nav li {
  display: inline-block;
}

#main-nav a {
  color: white;
  background: #13a4a4;
  padding: 5px;
  border-radius: 2px;
  text-decoration: none;
}

#main-nav .blog {
  background-color: red;
}