/* Apply border-box when using normalize.css */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

/* CSS Code */

header h1 {
  text-align: center;
}

.pokemon-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 5vw;
}

.pokemon{
  border: 2px solid purple;
  border-radius: 10px;
  background-color: #86da86;
  margin-bottom: 2vh;
  max-width: 304px;
  padding: 1vh 2vw;
}

.pokemon__container {
  display: flex;
  background-color: #b0f3b0;
  border-radius: inherit;
  flex-flow: wrap;
  margin-bottom: 1vh;
  padding: 0;
}

.pokemon__container.pokemon__container_main {
  padding: 1vh 1vw;
}

.pokemon__container.pokemon__container_secondary .pokemon__title{
  padding: 0;
}

.pokemon__attribute_background_white {
  background-color: white;
  border-radius: 10px;
  margin: 0 1vw;
}

.pokemon__title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 2vw;
  flex: 2;
  font-size: .8rem;
}

.pokemon__title h2, .pokemon__title h3 , .pokemon__number h2 {
  margin: auto;
}

.pokemon__number {
  display: flex;
  flex: 1;
  font-size: 1.6rem;
}

.pokemon__picture {
  display: flex;
  background-color: white;
  border-radius: inherit;
  padding: 1vh 3vw;
  margin: 1vh 1vw;
  margin-top: 1vh;
  width: 100%;
}

.pokemon__picture img{
  width: 100%;
}

.pokemon__title .pokemon__title_secondary{
  font-size: 1.5rem;
  width: 100%;
  margin-bottom: 1vh;
}

.pokemon__attribute.pokemon__attribute_type {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1vh 1vw;
  margin: auto;
}

.pokemon__attribute {
  margin: auto 1vh;
  font-size: 1.2rem;
}

.pokemon__attribute_type .pokemon__attribute{
  color: white;
  background: gray;
  border-radius: .2rem;
  padding: .2rem;
}

.pokemon__attribute.pokemon__attribute_type_grass {
  background-color: #78C850;
}

.pokemon__attribute.pokemon__attribute_type_poison {
  background-color: #A040A0;
}

.pokemon__attributes {
  list-style: none;
  padding: 0;
  margin: 1vh;
}