/* Apply border-box when using normalize.css */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* CSS Code */

body {
  font-size: 1.6rem;
  background: left top / cover no-repeat fixed url(./images/civ5background.jpeg) #eed6bc;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.site-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.site-header, footer {
  background-color: #491a11;
}

.site-header__logo {
  width: 95vw;
  min-height: 50px;
  max-width: 200px;
  margin: 1rem 0;
}

figure img {
  width: 100%;
  margin: 0;
}

.site-header__nav-menu {
  margin-bottom: 1vh;
  width: 100%;
}

.site-header__nav-menu ul{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.site-header__nav-menu li{
  display: block;
  margin: 0 .5rem;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #c8a57d;
}

.game-info {
  margin: 3rem 1rem;
  background-color: #bf9871;
  text-align: left;
}

.game-info h2 {
  margin: 1rem;
  text-align: center;
}

.game-info__cover-image {
  margin: 0;
}

.game-info__group {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #b0855e;
  font-size: 1.1rem;
  padding-right: .5rem;
}

.game-info__group:last-child {
  margin-bottom: 1rem;
  border: 0;
}

.game-info__term-list {
  margin-left: 1rem;
  font-weight: 800;
  vertical-align: top;
  text-transform: uppercase;
}

.game-info__details-list {
  margin: 0;
  width: 11.5rem;
}

.game-info__details-list.game-info__details-list_group span{
  display: block;
}

.game-info__details-list_sub-title {
  font-weight: 600;
}

.game-info__details-list_sub-title:not(:first-child) {
  margin-top: 1rem;
}

.content {
  vertical-align: top;
  margin: 0 1rem;
}

.content__section p {
  text-align: justify;
}

.header__text {
  border-bottom: .1rem solid #967c5e;
  font-size: 2em;
  margin-top: .5rem;
  margin-bottom: 1rem;
  padding-bottom: .5rem;
}

.header__reference {
  margin-left: 2rem;
}

footer {
  display: flex;
  flex-wrap: wrap;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

footer span {
  display: block;
  font-size: 1.5rem;
  width: 100%;
}

footer span:not(:first-child) {
  margin-top: .5rem;
}

footer span a:visited {
  color: white
}

.footer__chess-icon {
  display: none;
}

.footer__social a {
  margin: 0 .5rem;
}

@media all and (min-width: 768px) {

  .content {
    width: 40%;
    margin: 0 3rem;
  }

  footer {
    justify-content: space-evenly;
  }

  footer.footer span {
    margin-top: 0;
    width: auto;
  }

  .footer__chess-icon {
    display: inline-block;
  }
}