/* Apply border-box when using normalize.css */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* CSS Code */

body {
  font-size: 1.6rem;
    background: top / cover no-repeat fixed url(./images/civ5background.jpeg) #eed6bc;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.site-header, footer {
  background-color: #491a11;
}

.site-header__logo {
  display: inline-block;
  width: 20%;
  margin: .5rem 1rem;
  vertical-align: middle;  
}

.site-header__logo img {
  width: 100%;
}

.site-header__nav-menu {
  display: inline-block;
  vertical-align: middle;
  width: 75%;
  text-align: right;
}

.site-header__nav-menu li{
  list-style: none;
  display: inline-block;
  margin-right: 2rem;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
}

.content-container {
  max-width: 80%;
  background-color: #c8a57d;
  margin: auto;
}

.game-info {
  margin: 2rem;
  background-color: #bf9871;
  display: inline-block;
  text-align: left;
  width: fit-content;
}

.game-info h2 {
  margin: 1rem;
}

.game-info__group {
  margin-top: 1rem;
  border-bottom: 0.1rem solid #b0855e;
}

.game-info__group:last-child {
  margin-bottom: 1rem;
  border: 0;
}

.game-info__term-list {
  display: inline-block;
  margin-left: 1rem;
  width: 14rem;
  font-weight: 600;
  vertical-align: top;
}

.game-info__details-list {
  display: inline-block;
  margin: 0;
}

.game-info__details-list.game-info__details-list_group span{
  display: block;
}

.game-info__details-list_sub-title {
  font-weight: 600;
}

.game-info__details-list_sub-title:not(:first-child) {
  margin-top: 1rem;
}

.content {
  display: inline-block;
  width: 60%;
  vertical-align: top;
}

.content__section {
  text-align: justify;
}

.header__text {
  border-bottom: .1rem solid #967c5e;
}

.header__reference {
  margin-left: 2rem;
}

footer {
  color: white;
  text-align: center;
  padding: 2rem 0;
}

footer span {
  font-size: 2rem;
}

footer span:not(:first-child) {
  margin-left: 2rem;
}

footer span:first-child::after {
  margin-left: 2rem;
  content: "♟";
}

footer span a:visited {
  color: white
}