/* Apply border-box when using normalize.css */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* CSS Code */

body {
  font-size: 1.6rem;
}

.container {
  border: 0.3rem solid black;
  /* we use 'display: flex' in the parent so the children have a flexible behaviour 
    * by default, set the elements in one row, it can be changed to columns with 'flex-direction: column'
    * it can order the elements in an opposite way with 'row-reverse' or 'column-reverse'
    * 'flex-wrap: wrap' is used to automatically organize the rows that doesn't fit in the viewport
    * 'justify-content' aligns the items in the x-axis with values like 'start', 'center', 'space-around', etc
  */
  display: flex;
  /* height: 50vh; */
  flex-wrap: wrap;
  /*
  justify-content: center;
  */

  /* 'align-items' is used to vertically align flex components
    * 'center', align items to the middle of available height
    * 'flex-end' align items to the botom and 'flex-start' to the top,
    * 'stretch' grow the items height to the maximum available,
    * 'baseline' shrinks the height to the content of the items
    * stretch and baseline does nothing if the items have a fixed height
  */
  align-items: flex-start; 
}

.box {
  /* width: 10rem; */
  height: 10rem;
  flex-basis: 10rem;
  flex-grow: 1;
}

.box1 {
  background-color: blue;
  /* 'order' it is used to set the items in a specified order
    * if no 'order' is specified the items will be first than ordered ones  
  */
  /* order: 1; */

  /* 'flex-grow' uses the available viewport space to enlarge the width of the item with a value as factor*/
  /* flex-grow: 1; */
}

.box2 {
  background-color: blueviolet;
  /* order: 3; */
  /* flex-grow: 1; */
}
.box3 {
  background-color: burlywood;
}

.box4 {
  background-color: cadetblue;
}

.box5 {
  background-color: coral;
  /* order: 4; */
}

.box6 {
  background-color: salmon;
  /* order: 2; */
}